<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.game.assistance.dao.StrategyInfoModelMapper">
    <resultMap id="BaseResultMap" type="com.game.assistance.model.StrategyInfoModel">
        <id column="strategy_id" property="strategyId" jdbcType="INTEGER"/>
        <result column="app_name" property="appName" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="summary" property="summary" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="link" property="link" jdbcType="VARCHAR"/>
        <result column="title_image_url" property="titleImageUrl" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        strategy_id, app_name, title, summary, content, link, title_image_url, create_time
    </sql>
    <select id="getStrategyListByTime" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from strategy_info where app_name=#{appName,jdbcType=VARCHAR} ORDER BY create_time ASC LIMIT
        #{startIndex,jdbcType=INTEGER},#{limitNum,jdbcType=INTEGER}
    </select>

    <select id="countStrategyByAppName" resultType="java.lang.Integer" parameterType="java.lang.String">
        select
          count(1)
        from strategy_info si where si.app_name=#{appName,jdbcType=VARCHAR}
    </select>

</mapper>